export(install)
export(search)
export(bigquery)
export(clickhouse)
export(databricks)
export(duckdb)
export(exasol)
export(flightsql)
export(mssql)
export(mysql)
export(postgresql)
export(redshift)
export(singlestore)
export(snowflake)
export(sqlite)
export(trino)
export(oracle)
export(sap_hana)
export(teradata)
useDynLib(dbc, C_dbc_install = dbc_install, C_dbc_search = dbc_search, .registration = TRUE)
