export(dbc_info)
export(dbc_install)
export(dbc_list_drivers)
export(dbc_search)
export(dbc_uninstall)
export(bigquery)
export(clickhouse)
export(databricks)
export(duckdb)
export(exasol)
export(flightsql)
export(mssql)
export(mysql)
export(postgresql)
export(redshift)
export(singlestore)
export(snowflake)
export(sqlite)
export(trino)
export(oracle)
export(sap_hana)
export(teradata)
useDynLib(dbc, C_dbc_install = dbc_install_c, C_dbc_search = dbc_search_c, C_dbc_uninstall = dbc_uninstall_c, C_dbc_list_drivers = dbc_list_drivers_c, C_dbc_info = dbc_info_c, .registration = TRUE)
